body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1599px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u16953 {
  position:absolute;
  left:899px;
  top:-9px;
}
#u16953_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:401px;
  height:80px;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u16953_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16954 {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:80px;
}
#u16955 {
  position:absolute;
  left:2px;
  top:32px;
  width:397px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u16956 {
  position:absolute;
  left:199px;
  top:-9px;
  width:100px;
  height:80px;
  font-size:18px;
  color:#CCCCCC;
}
#u16956_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u16956.mouseOver {
}
#u16956_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u16956.mouseDown {
}
#u16957 {
  position:absolute;
  left:2px;
  top:29px;
  width:96px;
  word-wrap:break-word;
}
#u16958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u16958 {
  position:absolute;
  left:298px;
  top:-9px;
  width:100px;
  height:80px;
  font-size:18px;
  color:#CCCCCC;
}
#u16958_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u16958.mouseOver {
}
#u16959 {
  position:absolute;
  left:2px;
  top:29px;
  width:96px;
  word-wrap:break-word;
}
#u16960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u16960 {
  position:absolute;
  left:397px;
  top:-9px;
  width:100px;
  height:80px;
  font-size:18px;
  color:#CCCCCC;
}
#u16960_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u16960.mouseOver {
}
#u16961 {
  position:absolute;
  left:2px;
  top:29px;
  width:96px;
  word-wrap:break-word;
}
#u16962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u16962 {
  position:absolute;
  left:694px;
  top:-9px;
  width:100px;
  height:80px;
  font-size:18px;
  color:#CCCCCC;
}
#u16962_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u16962.mouseOver {
}
#u16963 {
  position:absolute;
  left:2px;
  top:29px;
  width:96px;
  word-wrap:break-word;
}
#u16964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u16964 {
  position:absolute;
  left:793px;
  top:-9px;
  width:100px;
  height:80px;
  font-size:18px;
  color:#CCCCCC;
}
#u16964_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u16964.mouseOver {
}
#u16965 {
  position:absolute;
  left:2px;
  top:29px;
  width:96px;
  word-wrap:break-word;
}
#u16966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u16966 {
  position:absolute;
  left:0px;
  top:-9px;
  width:200px;
  height:80px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u16967 {
  position:absolute;
  left:0px;
  top:28px;
  width:200px;
  word-wrap:break-word;
}
#u16968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u16968 {
  position:absolute;
  left:595px;
  top:-9px;
  width:100px;
  height:80px;
  font-size:18px;
  color:#CCCCCC;
}
#u16968_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u16968.mouseOver {
}
#u16969 {
  position:absolute;
  left:2px;
  top:29px;
  width:96px;
  word-wrap:break-word;
}
#u16970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u16970 {
  position:absolute;
  left:496px;
  top:-9px;
  width:100px;
  height:80px;
  font-size:18px;
  color:#CCCCCC;
}
#u16970_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u16970.mouseOver {
}
#u16971 {
  position:absolute;
  left:2px;
  top:29px;
  width:96px;
  word-wrap:break-word;
}
#u16972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:50px;
}
#u16972 {
  position:absolute;
  left:936px;
  top:6px;
  width:172px;
  height:50px;
}
#u16973 {
  position:absolute;
  left:2px;
  top:17px;
  width:168px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16974 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u16975 {
  position:absolute;
  left:397px;
  top:-9px;
  width:100px;
  height:80px;
  font-size:18px;
  color:#FFFFFF;
}
#u16976 {
  position:absolute;
  left:2px;
  top:29px;
  width:96px;
  word-wrap:break-word;
}
#u16977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:10px;
}
#u16977 {
  position:absolute;
  left:435px;
  top:62px;
  width:20px;
  height:10px;
}
#u16978 {
  position:absolute;
  left:2px;
  top:-3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16979 {
  position:absolute;
  left:-1px;
  top:71px;
  width:1300px;
  height:5px;
  overflow:hidden;
}
#u16979_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:5px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 0, 0, 1);
  background-image:none;
}
#u16979_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:651px;
  height:5px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16980 {
  position:absolute;
  left:0px;
  top:0px;
  width:651px;
  height:5px;
}
#u16981 {
  position:absolute;
  left:2px;
  top:-6px;
  width:647px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16982 {
  position:absolute;
  left:-1px;
  top:71px;
  width:1300px;
  height:45px;
  overflow:hidden;
}
#u16982_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:45px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 0, 0, 1);
  background-image:none;
}
#u16982_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:651px;
  height:5px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16983 {
  position:absolute;
  left:0px;
  top:0px;
  width:651px;
  height:5px;
}
#u16984 {
  position:absolute;
  left:2px;
  top:-6px;
  width:647px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16986 {
  position:absolute;
  left:1172px;
  top:20px;
  width:109px;
  height:34px;
}
#u16987 {
  position:absolute;
  left:2px;
  top:9px;
  width:105px;
  word-wrap:break-word;
}
#u16988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:3.75px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u16988 {
  position:absolute;
  left:316px;
  top:79px;
  width:85px;
  height:25px;
  color:#FFFFFF;
}
#u16988_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 0, 0, 1);
  border-radius:3.75px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u16988.mouseOver {
}
#u16989 {
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  word-wrap:break-word;
}
#u16990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 0, 0, 1);
  border-radius:3.75px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u16990 {
  position:absolute;
  left:415px;
  top:79px;
  width:85px;
  height:25px;
  color:#FFFFFF;
}
#u16991 {
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  word-wrap:break-word;
}
#u16992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:3.75px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u16992 {
  position:absolute;
  left:218px;
  top:79px;
  width:85px;
  height:25px;
  color:#FFFFFF;
}
#u16992_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 0, 0, 1);
  border-radius:3.75px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u16992.mouseOver {
}
#u16993 {
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  word-wrap:break-word;
}
#u16994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:64px;
}
#u16994 {
  position:absolute;
  left:0px;
  top:116px;
  width:1600px;
  height:64px;
}
#u16995 {
  position:absolute;
  left:2px;
  top:24px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:1268px;
}
#u16996 {
  position:absolute;
  left:0px;
  top:180px;
  width:198px;
  height:1268px;
}
#u16997 {
  position:absolute;
  left:2px;
  top:626px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:38px;
}
#u16998 {
  position:absolute;
  left:16px;
  top:129px;
  width:182px;
  height:38px;
}
#u16999 {
  position:absolute;
  left:2px;
  top:11px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u17000 {
  position:absolute;
  left:236px;
  top:137px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u17001 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u17002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u17002 {
  position:absolute;
  left:344px;
  top:137px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u17003 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u17004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u17004 {
  position:absolute;
  left:553px;
  top:137px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u17005 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u17006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u17006 {
  position:absolute;
  left:630px;
  top:137px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u17007 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u17008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:14px;
}
#u17008 {
  position:absolute;
  left:335px;
  top:159px;
  width:96px;
  height:14px;
}
#u17009 {
  position:absolute;
  left:2px;
  top:-1px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:29px;
}
#u17010 {
  position:absolute;
  left:1442px;
  top:134px;
  width:141px;
  height:29px;
}
#u17011 {
  position:absolute;
  left:2px;
  top:6px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:45px;
}
#u17012 {
  position:absolute;
  left:0px;
  top:290px;
  width:198px;
  height:45px;
}
#u17013 {
  position:absolute;
  left:2px;
  top:14px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u17014 {
  position:absolute;
  left:477px;
  top:137px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u17015 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u17016 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:17px;
}
#u17017 {
  position:absolute;
  left:16px;
  top:195px;
  width:21px;
  height:17px;
}
#u17018 {
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u17019 {
  position:absolute;
  left:58px;
  top:193px;
  width:49px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u17020 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u17021 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u17022 {
  position:absolute;
  left:58px;
  top:303px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u17023 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u17024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:17px;
}
#u17024 {
  position:absolute;
  left:18px;
  top:307px;
  width:20px;
  height:17px;
}
#u17025 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17026 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u17027 {
  position:absolute;
  left:58px;
  top:354px;
  width:97px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u17028 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u17029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u17029 {
  position:absolute;
  left:16px;
  top:355px;
  width:19px;
  height:20px;
}
#u17030 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17031 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u17032 {
  position:absolute;
  left:16px;
  top:412px;
  width:20px;
  height:20px;
}
#u17033 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u17034 {
  position:absolute;
  left:58px;
  top:412px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u17035 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u17036 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u17037 {
  position:absolute;
  left:58px;
  top:250px;
  width:81px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u17038 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u17039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:20px;
}
#u17039 {
  position:absolute;
  left:19px;
  top:251px;
  width:16px;
  height:20px;
}
#u17040 {
  position:absolute;
  left:2px;
  top:2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17041 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u17042 {
  position:absolute;
  left:16px;
  top:470px;
  width:20px;
  height:20px;
}
#u17043 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u17044 {
  position:absolute;
  left:59px;
  top:469px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u17045 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u17046 {
  position:absolute;
  left:0px;
  top:182px;
  width:198px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u17047 {
  position:absolute;
  left:0px;
  top:237px;
  width:198px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u17048 {
  position:absolute;
  left:0px;
  top:292px;
  width:198px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u17049 {
  position:absolute;
  left:0px;
  top:344px;
  width:198px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u17050 {
  position:absolute;
  left:0px;
  top:399px;
  width:198px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u17051 {
  position:absolute;
  left:0px;
  top:458px;
  width:198px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u17052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u17052 {
  position:absolute;
  left:243px;
  top:217px;
  width:99px;
  height:20px;
  font-size:16px;
}
#u17053 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u17054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u17054 {
  position:absolute;
  left:243px;
  top:365px;
  width:99px;
  height:20px;
  font-size:16px;
}
#u17055 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u17056 {
  position:absolute;
  left:332px;
  top:360px;
  width:354px;
  height:30px;
}
#u17056_input {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u17057 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u17058 {
  position:absolute;
  left:243px;
  top:588px;
  width:99px;
  height:20px;
  font-size:16px;
}
#u17059 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u17060 {
  position:absolute;
  left:332px;
  top:583px;
  width:170px;
  height:30px;
}
#u17060_input {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u17061 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u17062 {
  position:absolute;
  left:243px;
  top:642px;
  width:99px;
  height:20px;
  font-size:16px;
}
#u17063 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u17064 {
  position:absolute;
  left:332px;
  top:640px;
  width:170px;
  height:30px;
}
#u17064_input {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u17065 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u17066 {
  position:absolute;
  left:243px;
  top:914px;
  width:99px;
  height:20px;
  font-size:16px;
}
#u17067 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u17068 {
  position:absolute;
  left:332px;
  top:914px;
  width:354px;
  height:170px;
}
#u17068_input {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:170px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u17069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:110px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:72px;
  color:#999999;
}
#u17069 {
  position:absolute;
  left:342px;
  top:217px;
  width:300px;
  height:110px;
  font-size:72px;
  color:#999999;
}
#u17070 {
  position:absolute;
  left:2px;
  top:47px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17071 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u17072 {
  position:absolute;
  left:243px;
  top:425px;
  width:99px;
  height:20px;
  font-size:16px;
}
#u17073 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u17074 {
  position:absolute;
  left:332px;
  top:420px;
  width:354px;
  height:30px;
}
#u17074_input {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u17074_input:disabled {
  color:grayText;
}
#u17075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u17075 {
  position:absolute;
  left:243px;
  top:482px;
  width:99px;
  height:20px;
  font-size:16px;
}
#u17076 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u17077 {
  position:absolute;
  left:332px;
  top:478px;
  width:354px;
  height:30px;
}
#u17077_input {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u17078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:20px;
}
#u17078 {
  position:absolute;
  left:698px;
  top:481px;
  width:14px;
  height:20px;
}
#u17079 {
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  color:#999999;
  text-align:center;
}
#u17080 {
  position:absolute;
  left:459px;
  top:241px;
  width:55px;
  height:39px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  color:#999999;
  text-align:center;
}
#u17081 {
  position:absolute;
  left:0px;
  top:-22px;
  width:55px;
  word-wrap:break-word;
}
#u17082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:center;
}
#u17082 {
  position:absolute;
  left:342px;
  top:285px;
  width:300px;
  height:32px;
  color:#999999;
  text-align:center;
}
#u17083 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u17084 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u17085 {
  position:absolute;
  left:243px;
  top:538px;
  width:99px;
  height:20px;
  font-size:16px;
}
#u17086 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u17087 {
  position:absolute;
  left:332px;
  top:533px;
  width:170px;
  height:30px;
}
#u17087_input {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u17088 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u17089 {
  position:absolute;
  left:243px;
  top:713px;
  width:99px;
  height:20px;
  font-size:16px;
}
#u17090 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u17091 {
  position:absolute;
  left:332px;
  top:717px;
  width:100px;
  height:16px;
}
#u17092 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u17091_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u17093 {
  position:absolute;
  left:415px;
  top:717px;
  width:100px;
  height:16px;
}
#u17094 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u17093_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u17095 {
  position:absolute;
  left:515px;
  top:717px;
  width:100px;
  height:16px;
}
#u17096 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u17095_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u17097 {
  position:absolute;
  left:598px;
  top:717px;
  width:100px;
  height:16px;
}
#u17098 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u17097_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u17099 {
  position:absolute;
  left:691px;
  top:717px;
  width:100px;
  height:16px;
}
#u17100 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u17099_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u17101 {
  position:absolute;
  left:774px;
  top:717px;
  width:100px;
  height:16px;
}
#u17102 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u17101_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u17103 {
  position:absolute;
  left:874px;
  top:717px;
  width:100px;
  height:16px;
}
#u17104 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u17103_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u17105 {
  position:absolute;
  left:957px;
  top:717px;
  width:100px;
  height:16px;
}
#u17106 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u17105_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u17107 {
  position:absolute;
  left:1050px;
  top:717px;
  width:100px;
  height:16px;
}
#u17108 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u17107_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u17109 {
  position:absolute;
  left:332px;
  top:749px;
  width:100px;
  height:16px;
}
#u17110 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u17109_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u17111 {
  position:absolute;
  left:415px;
  top:749px;
  width:100px;
  height:16px;
}
#u17112 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u17111_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u17113 {
  position:absolute;
  left:515px;
  top:749px;
  width:100px;
  height:16px;
}
#u17114 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u17113_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u17115 {
  position:absolute;
  left:598px;
  top:749px;
  width:100px;
  height:16px;
}
#u17116 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u17115_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u17117 {
  position:absolute;
  left:691px;
  top:749px;
  width:100px;
  height:16px;
}
#u17118 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u17117_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u17119 {
  position:absolute;
  left:774px;
  top:749px;
  width:100px;
  height:16px;
}
#u17120 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u17119_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u17121 {
  position:absolute;
  left:874px;
  top:749px;
  width:100px;
  height:16px;
}
#u17122 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u17121_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u17123 {
  position:absolute;
  left:957px;
  top:749px;
  width:100px;
  height:16px;
}
#u17124 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u17123_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u17125 {
  position:absolute;
  left:1050px;
  top:749px;
  width:100px;
  height:16px;
}
#u17126 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u17125_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u17127 {
  position:absolute;
  left:332px;
  top:782px;
  width:100px;
  height:16px;
}
#u17128 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u17127_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u17129 {
  position:absolute;
  left:415px;
  top:782px;
  width:100px;
  height:16px;
}
#u17130 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u17129_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u17131 {
  position:absolute;
  left:515px;
  top:782px;
  width:100px;
  height:16px;
}
#u17132 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u17131_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u17133 {
  position:absolute;
  left:598px;
  top:782px;
  width:100px;
  height:16px;
}
#u17134 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u17133_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u17135 {
  position:absolute;
  left:691px;
  top:782px;
  width:100px;
  height:16px;
}
#u17136 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u17135_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u17137 {
  position:absolute;
  left:774px;
  top:782px;
  width:100px;
  height:16px;
}
#u17138 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u17137_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u17139 {
  position:absolute;
  left:874px;
  top:782px;
  width:100px;
  height:16px;
}
#u17140 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u17139_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u17141 {
  position:absolute;
  left:957px;
  top:782px;
  width:100px;
  height:16px;
}
#u17142 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u17141_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u17143 {
  position:absolute;
  left:1050px;
  top:782px;
  width:100px;
  height:16px;
}
#u17144 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u17143_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u17145 {
  position:absolute;
  left:332px;
  top:819px;
  width:100px;
  height:16px;
}
#u17146 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u17145_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u17147 {
  position:absolute;
  left:415px;
  top:819px;
  width:100px;
  height:16px;
}
#u17148 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u17147_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u17149 {
  position:absolute;
  left:515px;
  top:819px;
  width:100px;
  height:16px;
}
#u17150 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u17149_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u17151 {
  position:absolute;
  left:598px;
  top:819px;
  width:100px;
  height:16px;
}
#u17152 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u17151_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u17153 {
  position:absolute;
  left:691px;
  top:819px;
  width:100px;
  height:16px;
}
#u17154 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u17153_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u17155 {
  position:absolute;
  left:774px;
  top:819px;
  width:100px;
  height:16px;
}
#u17156 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u17155_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u17157 {
  position:absolute;
  left:874px;
  top:819px;
  width:100px;
  height:16px;
}
#u17158 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u17157_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u17159 {
  position:absolute;
  left:957px;
  top:819px;
  width:100px;
  height:16px;
}
#u17160 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u17159_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u17161 {
  position:absolute;
  left:1050px;
  top:819px;
  width:100px;
  height:16px;
}
#u17162 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u17161_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u17163 {
  position:absolute;
  left:332px;
  top:851px;
  width:100px;
  height:16px;
}
#u17164 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u17163_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u17165 {
  position:absolute;
  left:415px;
  top:851px;
  width:100px;
  height:16px;
}
#u17166 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u17165_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u17167 {
  position:absolute;
  left:515px;
  top:851px;
  width:100px;
  height:16px;
}
#u17168 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u17167_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u17169 {
  position:absolute;
  left:598px;
  top:851px;
  width:100px;
  height:16px;
}
#u17170 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u17169_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u17171 {
  position:absolute;
  left:691px;
  top:851px;
  width:100px;
  height:16px;
}
#u17172 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u17171_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u17173 {
  position:absolute;
  left:774px;
  top:851px;
  width:100px;
  height:16px;
}
#u17174 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u17173_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u17175 {
  position:absolute;
  left:874px;
  top:851px;
  width:100px;
  height:16px;
}
#u17176 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u17175_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u17177 {
  position:absolute;
  left:957px;
  top:851px;
  width:100px;
  height:16px;
}
#u17178 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u17177_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u17179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u17179 {
  position:absolute;
  left:1050px;
  top:851px;
  width:65px;
  height:16px;
  color:#0000FF;
}
#u17180 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u17181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17181 {
  position:absolute;
  left:243px;
  top:1141px;
  width:140px;
  height:40px;
}
#u17182 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u17183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:3.75px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u17183 {
  position:absolute;
  left:523px;
  top:82px;
  width:85px;
  height:25px;
  color:#FFFFFF;
}
#u17184 {
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  word-wrap:break-word;
}
