body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1599px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11836 {
  position:absolute;
  left:899px;
  top:-9px;
}
#u11836_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:401px;
  height:80px;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u11836_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11837 {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:80px;
}
#u11838 {
  position:absolute;
  left:2px;
  top:32px;
  width:397px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u11839 {
  position:absolute;
  left:199px;
  top:-9px;
  width:100px;
  height:80px;
  font-size:18px;
  color:#CCCCCC;
}
#u11839_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u11839.mouseOver {
}
#u11839_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u11839.mouseDown {
}
#u11840 {
  position:absolute;
  left:2px;
  top:29px;
  width:96px;
  word-wrap:break-word;
}
#u11841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u11841 {
  position:absolute;
  left:298px;
  top:-9px;
  width:100px;
  height:80px;
  font-size:18px;
  color:#CCCCCC;
}
#u11841_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u11841.mouseOver {
}
#u11842 {
  position:absolute;
  left:2px;
  top:29px;
  width:96px;
  word-wrap:break-word;
}
#u11843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u11843 {
  position:absolute;
  left:397px;
  top:-9px;
  width:100px;
  height:80px;
  font-size:18px;
  color:#CCCCCC;
}
#u11843_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u11843.mouseOver {
}
#u11844 {
  position:absolute;
  left:2px;
  top:29px;
  width:96px;
  word-wrap:break-word;
}
#u11845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u11845 {
  position:absolute;
  left:694px;
  top:-9px;
  width:100px;
  height:80px;
  font-size:18px;
  color:#CCCCCC;
}
#u11845_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u11845.mouseOver {
}
#u11846 {
  position:absolute;
  left:2px;
  top:29px;
  width:96px;
  word-wrap:break-word;
}
#u11847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u11847 {
  position:absolute;
  left:793px;
  top:-9px;
  width:100px;
  height:80px;
  font-size:18px;
  color:#CCCCCC;
}
#u11847_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u11847.mouseOver {
}
#u11848 {
  position:absolute;
  left:2px;
  top:29px;
  width:96px;
  word-wrap:break-word;
}
#u11849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u11849 {
  position:absolute;
  left:0px;
  top:-9px;
  width:200px;
  height:80px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u11850 {
  position:absolute;
  left:0px;
  top:28px;
  width:200px;
  word-wrap:break-word;
}
#u11851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u11851 {
  position:absolute;
  left:595px;
  top:-9px;
  width:100px;
  height:80px;
  font-size:18px;
  color:#CCCCCC;
}
#u11851_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u11851.mouseOver {
}
#u11852 {
  position:absolute;
  left:2px;
  top:29px;
  width:96px;
  word-wrap:break-word;
}
#u11853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u11853 {
  position:absolute;
  left:496px;
  top:-9px;
  width:100px;
  height:80px;
  font-size:18px;
  color:#CCCCCC;
}
#u11853_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u11853.mouseOver {
}
#u11854 {
  position:absolute;
  left:2px;
  top:29px;
  width:96px;
  word-wrap:break-word;
}
#u11855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:50px;
}
#u11855 {
  position:absolute;
  left:936px;
  top:6px;
  width:172px;
  height:50px;
}
#u11856 {
  position:absolute;
  left:2px;
  top:17px;
  width:168px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11857 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u11858 {
  position:absolute;
  left:397px;
  top:-9px;
  width:100px;
  height:80px;
  font-size:18px;
  color:#FFFFFF;
}
#u11859 {
  position:absolute;
  left:2px;
  top:29px;
  width:96px;
  word-wrap:break-word;
}
#u11860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:10px;
}
#u11860 {
  position:absolute;
  left:435px;
  top:62px;
  width:20px;
  height:10px;
}
#u11861 {
  position:absolute;
  left:2px;
  top:-3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11862 {
  position:absolute;
  left:-1px;
  top:71px;
  width:1300px;
  height:5px;
  overflow:hidden;
}
#u11862_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:5px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 0, 0, 1);
  background-image:none;
}
#u11862_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:651px;
  height:5px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11863 {
  position:absolute;
  left:0px;
  top:0px;
  width:651px;
  height:5px;
}
#u11864 {
  position:absolute;
  left:2px;
  top:-6px;
  width:647px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11865 {
  position:absolute;
  left:-1px;
  top:71px;
  width:1300px;
  height:45px;
  overflow:hidden;
}
#u11865_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:45px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 0, 0, 1);
  background-image:none;
}
#u11865_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:651px;
  height:5px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11866 {
  position:absolute;
  left:0px;
  top:0px;
  width:651px;
  height:5px;
}
#u11867 {
  position:absolute;
  left:2px;
  top:-6px;
  width:647px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11869 {
  position:absolute;
  left:1172px;
  top:20px;
  width:109px;
  height:34px;
}
#u11870 {
  position:absolute;
  left:2px;
  top:9px;
  width:105px;
  word-wrap:break-word;
}
#u11871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:64px;
}
#u11871 {
  position:absolute;
  left:0px;
  top:116px;
  width:1600px;
  height:64px;
}
#u11872 {
  position:absolute;
  left:2px;
  top:24px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:29px;
}
#u11873 {
  position:absolute;
  left:1442px;
  top:134px;
  width:141px;
  height:29px;
}
#u11874 {
  position:absolute;
  left:2px;
  top:6px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11875 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:17px;
}
#u11876 {
  position:absolute;
  left:19px;
  top:195px;
  width:21px;
  height:17px;
}
#u11877 {
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u11878 {
  position:absolute;
  left:58px;
  top:193px;
  width:49px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u11879 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u11880 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u11881 {
  position:absolute;
  left:58px;
  top:248px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u11882 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u11883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:19px;
}
#u11883 {
  position:absolute;
  left:18px;
  top:249px;
  width:20px;
  height:19px;
}
#u11884 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11885 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u11886 {
  position:absolute;
  left:16px;
  top:301px;
  width:20px;
  height:20px;
}
#u11887 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u11888 {
  position:absolute;
  left:58px;
  top:301px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u11889 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u11890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u11890 {
  position:absolute;
  left:25px;
  top:137px;
  width:226px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u11891 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  white-space:nowrap;
}
#u11892 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u11893 {
  position:absolute;
  left:67px;
  top:300px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u11894 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u11895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u11895 {
  position:absolute;
  left:25px;
  top:300px;
  width:19px;
  height:20px;
}
#u11896 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:64px;
}
#u11897 {
  position:absolute;
  left:0px;
  top:116px;
  width:1600px;
  height:64px;
}
#u11898 {
  position:absolute;
  left:2px;
  top:24px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:1096px;
}
#u11899 {
  position:absolute;
  left:0px;
  top:180px;
  width:198px;
  height:1096px;
}
#u11900 {
  position:absolute;
  left:2px;
  top:540px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:29px;
}
#u11901 {
  position:absolute;
  left:1442px;
  top:134px;
  width:141px;
  height:29px;
}
#u11902 {
  position:absolute;
  left:2px;
  top:6px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:45px;
}
#u11903 {
  position:absolute;
  left:0px;
  top:236px;
  width:198px;
  height:45px;
}
#u11904 {
  position:absolute;
  left:2px;
  top:14px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:17px;
}
#u11905 {
  position:absolute;
  left:19px;
  top:195px;
  width:21px;
  height:17px;
}
#u11906 {
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u11907 {
  position:absolute;
  left:58px;
  top:193px;
  width:49px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u11908 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u11909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u11909 {
  position:absolute;
  left:58px;
  top:248px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u11910 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u11911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:19px;
}
#u11911 {
  position:absolute;
  left:18px;
  top:249px;
  width:20px;
  height:19px;
}
#u11912 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u11913 {
  position:absolute;
  left:25px;
  top:137px;
  width:208px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u11914 {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  white-space:nowrap;
}
#u11915 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u11916 {
  position:absolute;
  left:58px;
  top:412px;
  width:97px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u11917 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u11918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u11918 {
  position:absolute;
  left:16px;
  top:412px;
  width:19px;
  height:20px;
}
#u11919 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#169BD5;
}
#u11920 {
  position:absolute;
  left:67px;
  top:306px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#169BD5;
}
#u11921 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u11922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u11922 {
  position:absolute;
  left:67px;
  top:347px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u11923 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u11924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:3.75px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u11924 {
  position:absolute;
  left:413px;
  top:82px;
  width:85px;
  height:25px;
  color:#FFFFFF;
}
#u11924_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 0, 0, 1);
  border-radius:3.75px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u11924.mouseOver {
}
#u11925 {
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  word-wrap:break-word;
}
#u11926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:3.75px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u11926 {
  position:absolute;
  left:213px;
  top:82px;
  width:85px;
  height:25px;
  color:#FFFFFF;
}
#u11926_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 0, 0, 1);
  border-radius:3.75px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u11926.mouseOver {
}
#u11927 {
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  word-wrap:break-word;
}
#u11928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 0, 0, 1);
  border-radius:3.75px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u11928 {
  position:absolute;
  left:318px;
  top:82px;
  width:85px;
  height:25px;
  color:#FFFFFF;
}
#u11929 {
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  word-wrap:break-word;
}
#u11930 {
  position:absolute;
  left:0px;
  top:180px;
  width:198px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u11931 {
  position:absolute;
  left:0px;
  top:235px;
  width:198px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u11932 {
  position:absolute;
  left:0px;
  top:399px;
  width:198px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u11933 {
  position:absolute;
  left:0px;
  top:301px;
  width:198px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u11934 {
  position:absolute;
  left:0px;
  top:343px;
  width:198px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u11935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u11935 {
  position:absolute;
  left:243px;
  top:217px;
  width:99px;
  height:20px;
  font-size:16px;
}
#u11936 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u11937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u11937 {
  position:absolute;
  left:243px;
  top:365px;
  width:99px;
  height:20px;
  font-size:16px;
}
#u11938 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u11939 {
  position:absolute;
  left:332px;
  top:360px;
  width:354px;
  height:30px;
}
#u11939_input {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u11940 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u11941 {
  position:absolute;
  left:243px;
  top:588px;
  width:99px;
  height:20px;
  font-size:16px;
}
#u11942 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u11943 {
  position:absolute;
  left:332px;
  top:583px;
  width:170px;
  height:30px;
}
#u11943_input {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u11944 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u11945 {
  position:absolute;
  left:243px;
  top:642px;
  width:99px;
  height:20px;
  font-size:16px;
}
#u11946 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u11947 {
  position:absolute;
  left:332px;
  top:640px;
  width:170px;
  height:30px;
}
#u11947_input {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u11948 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u11949 {
  position:absolute;
  left:243px;
  top:914px;
  width:99px;
  height:20px;
  font-size:16px;
}
#u11950 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u11951 {
  position:absolute;
  left:332px;
  top:914px;
  width:354px;
  height:170px;
}
#u11951_input {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:170px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u11952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:110px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:72px;
  color:#999999;
}
#u11952 {
  position:absolute;
  left:342px;
  top:217px;
  width:300px;
  height:110px;
  font-size:72px;
  color:#999999;
}
#u11953 {
  position:absolute;
  left:2px;
  top:47px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11954 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u11955 {
  position:absolute;
  left:243px;
  top:425px;
  width:99px;
  height:20px;
  font-size:16px;
}
#u11956 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u11957 {
  position:absolute;
  left:332px;
  top:420px;
  width:354px;
  height:30px;
}
#u11957_input {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u11957_input:disabled {
  color:grayText;
}
#u11958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u11958 {
  position:absolute;
  left:243px;
  top:482px;
  width:99px;
  height:20px;
  font-size:16px;
}
#u11959 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u11960 {
  position:absolute;
  left:332px;
  top:478px;
  width:354px;
  height:30px;
}
#u11960_input {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u11961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:20px;
}
#u11961 {
  position:absolute;
  left:698px;
  top:481px;
  width:14px;
  height:20px;
}
#u11962 {
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  color:#999999;
  text-align:center;
}
#u11963 {
  position:absolute;
  left:459px;
  top:241px;
  width:55px;
  height:39px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  color:#999999;
  text-align:center;
}
#u11964 {
  position:absolute;
  left:0px;
  top:-22px;
  width:55px;
  word-wrap:break-word;
}
#u11965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:center;
}
#u11965 {
  position:absolute;
  left:342px;
  top:285px;
  width:300px;
  height:32px;
  color:#999999;
  text-align:center;
}
#u11966 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u11967 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u11968 {
  position:absolute;
  left:243px;
  top:538px;
  width:99px;
  height:20px;
  font-size:16px;
}
#u11969 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u11970 {
  position:absolute;
  left:332px;
  top:533px;
  width:170px;
  height:30px;
}
#u11970_input {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u11971 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u11972 {
  position:absolute;
  left:243px;
  top:713px;
  width:99px;
  height:20px;
  font-size:16px;
}
#u11973 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u11974 {
  position:absolute;
  left:332px;
  top:717px;
  width:100px;
  height:16px;
}
#u11975 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u11974_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u11976 {
  position:absolute;
  left:415px;
  top:717px;
  width:100px;
  height:16px;
}
#u11977 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u11976_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u11978 {
  position:absolute;
  left:515px;
  top:717px;
  width:100px;
  height:16px;
}
#u11979 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u11978_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u11980 {
  position:absolute;
  left:598px;
  top:717px;
  width:100px;
  height:16px;
}
#u11981 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u11980_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u11982 {
  position:absolute;
  left:691px;
  top:717px;
  width:100px;
  height:16px;
}
#u11983 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u11982_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u11984 {
  position:absolute;
  left:774px;
  top:717px;
  width:100px;
  height:16px;
}
#u11985 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u11984_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u11986 {
  position:absolute;
  left:874px;
  top:717px;
  width:100px;
  height:16px;
}
#u11987 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u11986_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u11988 {
  position:absolute;
  left:957px;
  top:717px;
  width:100px;
  height:16px;
}
#u11989 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u11988_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u11990 {
  position:absolute;
  left:1050px;
  top:717px;
  width:100px;
  height:16px;
}
#u11991 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u11990_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u11992 {
  position:absolute;
  left:332px;
  top:749px;
  width:100px;
  height:16px;
}
#u11993 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u11992_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u11994 {
  position:absolute;
  left:415px;
  top:749px;
  width:100px;
  height:16px;
}
#u11995 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u11994_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u11996 {
  position:absolute;
  left:515px;
  top:749px;
  width:100px;
  height:16px;
}
#u11997 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u11996_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u11998 {
  position:absolute;
  left:598px;
  top:749px;
  width:100px;
  height:16px;
}
#u11999 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u11998_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12000 {
  position:absolute;
  left:691px;
  top:749px;
  width:100px;
  height:16px;
}
#u12001 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12000_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12002 {
  position:absolute;
  left:774px;
  top:749px;
  width:100px;
  height:16px;
}
#u12003 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12002_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12004 {
  position:absolute;
  left:874px;
  top:749px;
  width:100px;
  height:16px;
}
#u12005 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12004_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12006 {
  position:absolute;
  left:957px;
  top:749px;
  width:100px;
  height:16px;
}
#u12007 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12006_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12008 {
  position:absolute;
  left:1050px;
  top:749px;
  width:100px;
  height:16px;
}
#u12009 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12008_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12010 {
  position:absolute;
  left:332px;
  top:782px;
  width:100px;
  height:16px;
}
#u12011 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12010_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12012 {
  position:absolute;
  left:415px;
  top:782px;
  width:100px;
  height:16px;
}
#u12013 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12012_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12014 {
  position:absolute;
  left:515px;
  top:782px;
  width:100px;
  height:16px;
}
#u12015 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12014_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12016 {
  position:absolute;
  left:598px;
  top:782px;
  width:100px;
  height:16px;
}
#u12017 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12016_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12018 {
  position:absolute;
  left:691px;
  top:782px;
  width:100px;
  height:16px;
}
#u12019 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12018_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12020 {
  position:absolute;
  left:774px;
  top:782px;
  width:100px;
  height:16px;
}
#u12021 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12020_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12022 {
  position:absolute;
  left:874px;
  top:782px;
  width:100px;
  height:16px;
}
#u12023 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12022_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12024 {
  position:absolute;
  left:957px;
  top:782px;
  width:100px;
  height:16px;
}
#u12025 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12024_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12026 {
  position:absolute;
  left:1050px;
  top:782px;
  width:100px;
  height:16px;
}
#u12027 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12026_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12028 {
  position:absolute;
  left:332px;
  top:819px;
  width:100px;
  height:16px;
}
#u12029 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12028_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12030 {
  position:absolute;
  left:415px;
  top:819px;
  width:100px;
  height:16px;
}
#u12031 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12030_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12032 {
  position:absolute;
  left:515px;
  top:819px;
  width:100px;
  height:16px;
}
#u12033 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12032_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12034 {
  position:absolute;
  left:598px;
  top:819px;
  width:100px;
  height:16px;
}
#u12035 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12034_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12036 {
  position:absolute;
  left:691px;
  top:819px;
  width:100px;
  height:16px;
}
#u12037 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12036_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12038 {
  position:absolute;
  left:774px;
  top:819px;
  width:100px;
  height:16px;
}
#u12039 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12038_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12040 {
  position:absolute;
  left:874px;
  top:819px;
  width:100px;
  height:16px;
}
#u12041 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12040_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12042 {
  position:absolute;
  left:957px;
  top:819px;
  width:100px;
  height:16px;
}
#u12043 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12042_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12044 {
  position:absolute;
  left:1050px;
  top:819px;
  width:100px;
  height:16px;
}
#u12045 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12044_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12046 {
  position:absolute;
  left:332px;
  top:851px;
  width:100px;
  height:16px;
}
#u12047 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12046_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12048 {
  position:absolute;
  left:415px;
  top:851px;
  width:100px;
  height:16px;
}
#u12049 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12048_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12050 {
  position:absolute;
  left:515px;
  top:851px;
  width:100px;
  height:16px;
}
#u12051 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12050_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12052 {
  position:absolute;
  left:598px;
  top:851px;
  width:100px;
  height:16px;
}
#u12053 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12052_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12054 {
  position:absolute;
  left:691px;
  top:851px;
  width:100px;
  height:16px;
}
#u12055 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12054_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12056 {
  position:absolute;
  left:774px;
  top:851px;
  width:100px;
  height:16px;
}
#u12057 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12056_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12058 {
  position:absolute;
  left:874px;
  top:851px;
  width:100px;
  height:16px;
}
#u12059 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12058_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12060 {
  position:absolute;
  left:957px;
  top:851px;
  width:100px;
  height:16px;
}
#u12061 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12060_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u12062 {
  position:absolute;
  left:1050px;
  top:851px;
  width:65px;
  height:16px;
  color:#0000FF;
}
#u12063 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u12064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12064 {
  position:absolute;
  left:243px;
  top:1141px;
  width:140px;
  height:40px;
}
#u12065 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u12066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:3.75px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u12066 {
  position:absolute;
  left:523px;
  top:82px;
  width:85px;
  height:25px;
  color:#FFFFFF;
}
#u12067 {
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  word-wrap:break-word;
}
