body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1228px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:133px;
}
#u1180 {
  position:absolute;
  left:7px;
  top:7px;
  width:355px;
  height:133px;
}
#u1181 {
  position:absolute;
  left:2px;
  top:58px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:89px;
}
#u1182 {
  position:absolute;
  left:383px;
  top:29px;
  width:372px;
  height:89px;
}
#u1183 {
  position:absolute;
  left:2px;
  top:36px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:86px;
}
#u1184 {
  position:absolute;
  left:772px;
  top:31px;
  width:372px;
  height:86px;
}
#u1185 {
  position:absolute;
  left:2px;
  top:35px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:919px;
}
#u1186 {
  position:absolute;
  left:1160px;
  top:31px;
  width:68px;
  height:919px;
}
#u1187 {
  position:absolute;
  left:2px;
  top:452px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
