body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1649px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1865 {
  position:absolute;
  left:899px;
  top:-9px;
}
#u1865_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:401px;
  height:80px;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u1865_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1866 {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:80px;
}
#u1867 {
  position:absolute;
  left:2px;
  top:32px;
  width:397px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u1868 {
  position:absolute;
  left:199px;
  top:-9px;
  width:100px;
  height:80px;
  font-size:18px;
  color:#CCCCCC;
}
#u1868_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u1868.mouseOver {
}
#u1868_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u1868.mouseDown {
}
#u1869 {
  position:absolute;
  left:2px;
  top:29px;
  width:96px;
  word-wrap:break-word;
}
#u1870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u1870 {
  position:absolute;
  left:298px;
  top:-9px;
  width:100px;
  height:80px;
  font-size:18px;
  color:#CCCCCC;
}
#u1870_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u1870.mouseOver {
}
#u1871 {
  position:absolute;
  left:2px;
  top:29px;
  width:96px;
  word-wrap:break-word;
}
#u1872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u1872 {
  position:absolute;
  left:397px;
  top:-9px;
  width:100px;
  height:80px;
  font-size:18px;
  color:#CCCCCC;
}
#u1872_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u1872.mouseOver {
}
#u1873 {
  position:absolute;
  left:2px;
  top:29px;
  width:96px;
  word-wrap:break-word;
}
#u1874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u1874 {
  position:absolute;
  left:694px;
  top:-9px;
  width:100px;
  height:80px;
  font-size:18px;
  color:#CCCCCC;
}
#u1874_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u1874.mouseOver {
}
#u1875 {
  position:absolute;
  left:2px;
  top:29px;
  width:96px;
  word-wrap:break-word;
}
#u1876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u1876 {
  position:absolute;
  left:793px;
  top:-9px;
  width:100px;
  height:80px;
  font-size:18px;
  color:#CCCCCC;
}
#u1876_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u1876.mouseOver {
}
#u1877 {
  position:absolute;
  left:2px;
  top:29px;
  width:96px;
  word-wrap:break-word;
}
#u1878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u1878 {
  position:absolute;
  left:0px;
  top:-9px;
  width:200px;
  height:80px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u1879 {
  position:absolute;
  left:0px;
  top:28px;
  width:200px;
  word-wrap:break-word;
}
#u1880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u1880 {
  position:absolute;
  left:595px;
  top:-9px;
  width:100px;
  height:80px;
  font-size:18px;
  color:#CCCCCC;
}
#u1880_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u1880.mouseOver {
}
#u1881 {
  position:absolute;
  left:2px;
  top:29px;
  width:96px;
  word-wrap:break-word;
}
#u1882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u1882 {
  position:absolute;
  left:496px;
  top:-9px;
  width:100px;
  height:80px;
  font-size:18px;
  color:#CCCCCC;
}
#u1882_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u1882.mouseOver {
}
#u1883 {
  position:absolute;
  left:2px;
  top:29px;
  width:96px;
  word-wrap:break-word;
}
#u1884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:50px;
}
#u1884 {
  position:absolute;
  left:936px;
  top:6px;
  width:172px;
  height:50px;
}
#u1885 {
  position:absolute;
  left:2px;
  top:17px;
  width:168px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1886 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u1887 {
  position:absolute;
  left:397px;
  top:-9px;
  width:100px;
  height:80px;
  font-size:18px;
  color:#FFFFFF;
}
#u1888 {
  position:absolute;
  left:2px;
  top:29px;
  width:96px;
  word-wrap:break-word;
}
#u1889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:10px;
}
#u1889 {
  position:absolute;
  left:435px;
  top:62px;
  width:20px;
  height:10px;
}
#u1890 {
  position:absolute;
  left:2px;
  top:-3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1891 {
  position:absolute;
  left:-1px;
  top:71px;
  width:1300px;
  height:5px;
  overflow:hidden;
}
#u1891_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:5px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 0, 0, 1);
  background-image:none;
}
#u1891_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:651px;
  height:5px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1892 {
  position:absolute;
  left:0px;
  top:0px;
  width:651px;
  height:5px;
}
#u1893 {
  position:absolute;
  left:2px;
  top:-6px;
  width:647px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1895 {
  position:absolute;
  left:1172px;
  top:20px;
  width:109px;
  height:34px;
}
#u1896 {
  position:absolute;
  left:2px;
  top:9px;
  width:105px;
  word-wrap:break-word;
}
#u1898 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1849px;
  height:295px;
}
#u1899 {
  position:absolute;
  left:-100px;
  top:75px;
  width:1849px;
  height:295px;
}
#u1900 {
  position:absolute;
  left:2px;
  top:140px;
  width:1845px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1111px;
  height:295px;
}
#u1901 {
  position:absolute;
  left:206px;
  top:75px;
  width:1111px;
  height:295px;
}
#u1902 {
  position:absolute;
  left:2px;
  top:140px;
  width:1107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:296px;
}
#u1903 {
  position:absolute;
  left:1243px;
  top:74px;
  width:251px;
  height:296px;
}
#u1904 {
  position:absolute;
  left:2px;
  top:140px;
  width:247px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:21px;
}
#u1905 {
  position:absolute;
  left:401px;
  top:267px;
  width:48px;
  height:21px;
}
#u1906 {
  position:absolute;
  left:2px;
  top:2px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1907 {
  position:absolute;
  left:404px;
  top:266px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1908 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u1909 {
  position:absolute;
  left:338px;
  top:326px;
  width:73px;
  height:42px;
  font-size:16px;
  color:#FFFFFF;
}
#u1910 {
  position:absolute;
  left:2px;
  top:12px;
  width:69px;
  word-wrap:break-word;
}
#u1911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u1911 {
  position:absolute;
  left:430px;
  top:326px;
  width:73px;
  height:42px;
  font-size:16px;
  color:#FFFFFF;
}
#u1912 {
  position:absolute;
  left:2px;
  top:12px;
  width:69px;
  word-wrap:break-word;
}
#u1913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u1913 {
  position:absolute;
  left:519px;
  top:326px;
  width:73px;
  height:42px;
  font-size:16px;
  color:#FFFFFF;
}
#u1914 {
  position:absolute;
  left:2px;
  top:12px;
  width:69px;
  word-wrap:break-word;
}
#u1915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u1915 {
  position:absolute;
  left:611px;
  top:326px;
  width:73px;
  height:42px;
  font-size:16px;
  color:#FFFFFF;
}
#u1916 {
  position:absolute;
  left:2px;
  top:12px;
  width:69px;
  word-wrap:break-word;
}
#u1917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u1917 {
  position:absolute;
  left:700px;
  top:326px;
  width:106px;
  height:42px;
  font-size:16px;
  color:#FFFFFF;
}
#u1918 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  word-wrap:break-word;
}
#u1919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u1919 {
  position:absolute;
  left:822px;
  top:326px;
  width:106px;
  height:42px;
  font-size:16px;
  color:#FFFFFF;
}
#u1920 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  word-wrap:break-word;
}
#u1921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u1921 {
  position:absolute;
  left:946px;
  top:326px;
  width:106px;
  height:42px;
  font-size:16px;
  color:#FFFFFF;
}
#u1922 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  word-wrap:break-word;
}
#u1923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1760px;
  height:74px;
}
#u1923 {
  position:absolute;
  left:-11px;
  top:366px;
  width:1760px;
  height:74px;
}
#u1924 {
  position:absolute;
  left:2px;
  top:29px;
  width:1756px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1925 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:24px;
}
#u1926 {
  position:absolute;
  left:1169px;
  top:392px;
  width:30px;
  height:24px;
}
#u1927 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1928 {
  position:absolute;
  left:1207px;
  top:394px;
  width:19px;
  height:19px;
  font-size:16px;
}
#u1929 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  word-wrap:break-word;
}
#u1930 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
}
#u1931 {
  position:absolute;
  left:1236px;
  top:393px;
  width:30px;
  height:25px;
}
#u1932 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1933 {
  position:absolute;
  left:1272px;
  top:394px;
  width:34px;
  height:19px;
  font-size:16px;
}
#u1934 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u1935 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:452px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1936 {
  position:absolute;
  left:210px;
  top:384px;
  width:452px;
  height:40px;
  text-align:left;
}
#u1937 {
  position:absolute;
  left:2px;
  top:12px;
  width:448px;
  word-wrap:break-word;
}
#u1938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1938 {
  position:absolute;
  left:624px;
  top:392px;
  width:25px;
  height:25px;
}
#u1939 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1940 {
  position:absolute;
  left:211px;
  top:385px;
  width:404px;
  height:38px;
}
#u1940_input {
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:40px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1941 {
  position:absolute;
  left:1306px;
  top:386px;
  width:103px;
  height:40px;
  color:#FFFFFF;
}
#u1942 {
  position:absolute;
  left:2px;
  top:12px;
  width:99px;
  word-wrap:break-word;
}
#u1943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u1943 {
  position:absolute;
  left:210px;
  top:326px;
  width:118px;
  height:42px;
  font-size:16px;
  color:#FFFFFF;
}
#u1944 {
  position:absolute;
  left:2px;
  top:12px;
  width:114px;
  word-wrap:break-word;
}
#u1945 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
}
#u1946 {
  position:absolute;
  left:613px;
  top:326px;
  width:73px;
  height:42px;
}
#u1947 {
  position:absolute;
  left:2px;
  top:13px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u1948 {
  position:absolute;
  left:633px;
  top:338px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u1949 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
