body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1299px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1389 {
  position:absolute;
  left:899px;
  top:-9px;
}
#u1389_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:401px;
  height:80px;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u1389_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1390_div {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1390 {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:80px;
}
#u1391 {
  position:absolute;
  left:2px;
  top:32px;
  width:397px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1392_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u1392 {
  position:absolute;
  left:199px;
  top:-9px;
  width:100px;
  height:80px;
  font-size:18px;
  color:#CCCCCC;
}
#u1392_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u1392.mouseOver {
}
#u1392_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u1392.mouseDown {
}
#u1393 {
  position:absolute;
  left:2px;
  top:29px;
  width:96px;
  word-wrap:break-word;
}
#u1394_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u1394 {
  position:absolute;
  left:298px;
  top:-9px;
  width:100px;
  height:80px;
  font-size:18px;
  color:#CCCCCC;
}
#u1394_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u1394.mouseOver {
}
#u1395 {
  position:absolute;
  left:2px;
  top:29px;
  width:96px;
  word-wrap:break-word;
}
#u1396_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u1396 {
  position:absolute;
  left:397px;
  top:-9px;
  width:100px;
  height:80px;
  font-size:18px;
  color:#CCCCCC;
}
#u1396_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u1396.mouseOver {
}
#u1397 {
  position:absolute;
  left:2px;
  top:29px;
  width:96px;
  word-wrap:break-word;
}
#u1398_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u1398 {
  position:absolute;
  left:694px;
  top:-9px;
  width:100px;
  height:80px;
  font-size:18px;
  color:#CCCCCC;
}
#u1398_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u1398.mouseOver {
}
#u1399 {
  position:absolute;
  left:2px;
  top:29px;
  width:96px;
  word-wrap:break-word;
}
#u1400_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u1400 {
  position:absolute;
  left:793px;
  top:-9px;
  width:100px;
  height:80px;
  font-size:18px;
  color:#CCCCCC;
}
#u1400_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u1400.mouseOver {
}
#u1401 {
  position:absolute;
  left:2px;
  top:29px;
  width:96px;
  word-wrap:break-word;
}
#u1402_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u1402 {
  position:absolute;
  left:0px;
  top:-9px;
  width:200px;
  height:80px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u1403 {
  position:absolute;
  left:0px;
  top:28px;
  width:200px;
  word-wrap:break-word;
}
#u1404_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u1404 {
  position:absolute;
  left:595px;
  top:-9px;
  width:100px;
  height:80px;
  font-size:18px;
  color:#CCCCCC;
}
#u1404_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u1404.mouseOver {
}
#u1405 {
  position:absolute;
  left:2px;
  top:29px;
  width:96px;
  word-wrap:break-word;
}
#u1406_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u1406 {
  position:absolute;
  left:496px;
  top:-9px;
  width:100px;
  height:80px;
  font-size:18px;
  color:#CCCCCC;
}
#u1406_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u1406.mouseOver {
}
#u1407 {
  position:absolute;
  left:2px;
  top:29px;
  width:96px;
  word-wrap:break-word;
}
#u1408_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:50px;
}
#u1408 {
  position:absolute;
  left:936px;
  top:6px;
  width:172px;
  height:50px;
}
#u1409 {
  position:absolute;
  left:2px;
  top:17px;
  width:168px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1410 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1411_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u1411 {
  position:absolute;
  left:397px;
  top:-9px;
  width:100px;
  height:80px;
  font-size:18px;
  color:#FFFFFF;
}
#u1412 {
  position:absolute;
  left:2px;
  top:29px;
  width:96px;
  word-wrap:break-word;
}
#u1413_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:10px;
}
#u1413 {
  position:absolute;
  left:435px;
  top:62px;
  width:20px;
  height:10px;
}
#u1414 {
  position:absolute;
  left:2px;
  top:-3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1415 {
  position:absolute;
  left:-1px;
  top:71px;
  width:1300px;
  height:5px;
  overflow:hidden;
}
#u1415_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:5px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 0, 0, 1);
  background-image:none;
}
#u1415_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1416_div {
  position:absolute;
  left:0px;
  top:0px;
  width:651px;
  height:5px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1416 {
  position:absolute;
  left:0px;
  top:0px;
  width:651px;
  height:5px;
}
#u1417 {
  position:absolute;
  left:2px;
  top:-6px;
  width:647px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1419_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1419 {
  position:absolute;
  left:1172px;
  top:20px;
  width:109px;
  height:34px;
}
#u1420 {
  position:absolute;
  left:2px;
  top:9px;
  width:105px;
  word-wrap:break-word;
}
