body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1864px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1864px;
  height:92px;
}
#u6900 {
  position:absolute;
  left:0px;
  top:0px;
  width:1864px;
  height:92px;
}
#u6901 {
  position:absolute;
  left:2px;
  top:38px;
  width:1860px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:40px;
}
#u6902 {
  position:absolute;
  left:21px;
  top:19px;
  width:126px;
  height:40px;
}
#u6903 {
  position:absolute;
  left:2px;
  top:12px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u6904 {
  position:absolute;
  left:15px;
  top:66px;
  width:168px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u6905 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  white-space:nowrap;
}
#u6906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:65px;
}
#u6906 {
  position:absolute;
  left:211px;
  top:19px;
  width:1px;
  height:64px;
}
#u6907 {
  position:absolute;
  left:2px;
  top:24px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6908 {
  position:absolute;
  left:234px;
  top:30px;
  width:73px;
  height:42px;
  font-size:16px;
}
#u6909 {
  position:absolute;
  left:2px;
  top:12px;
  width:69px;
  word-wrap:break-word;
}
#u6910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6910 {
  position:absolute;
  left:326px;
  top:30px;
  width:73px;
  height:42px;
  font-size:16px;
}
#u6911 {
  position:absolute;
  left:2px;
  top:12px;
  width:69px;
  word-wrap:break-word;
}
#u6912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF0000;
}
#u6912 {
  position:absolute;
  left:443px;
  top:30px;
  width:73px;
  height:42px;
  font-size:16px;
  color:#FF0000;
}
#u6913 {
  position:absolute;
  left:2px;
  top:12px;
  width:69px;
  word-wrap:break-word;
}
#u6914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6914 {
  position:absolute;
  left:555px;
  top:30px;
  width:106px;
  height:42px;
  font-size:16px;
}
#u6915 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  word-wrap:break-word;
}
#u6916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6916 {
  position:absolute;
  left:698px;
  top:30px;
  width:106px;
  height:42px;
  font-size:16px;
}
#u6917 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  word-wrap:break-word;
}
#u6918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6918 {
  position:absolute;
  left:842px;
  top:30px;
  width:106px;
  height:42px;
  font-size:16px;
}
#u6919 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  word-wrap:break-word;
}
#u6920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:52px;
}
#u6920 {
  position:absolute;
  left:1662px;
  top:25px;
  width:194px;
  height:52px;
}
#u6921 {
  position:absolute;
  left:2px;
  top:18px;
  width:190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:71px;
}
#u6922 {
  position:absolute;
  left:15px;
  top:12px;
  width:176px;
  height:71px;
}
#u6923 {
  position:absolute;
  left:2px;
  top:28px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:60px;
}
#u6924 {
  position:absolute;
  left:15px;
  top:17px;
  width:163px;
  height:60px;
}
#u6925 {
  position:absolute;
  left:2px;
  top:22px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6926 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u6927 {
  position:absolute;
  left:42px;
  top:117px;
  width:451px;
  height:40px;
  text-align:left;
}
#u6928 {
  position:absolute;
  left:2px;
  top:12px;
  width:447px;
  word-wrap:break-word;
}
#u6929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6929 {
  position:absolute;
  left:455px;
  top:125px;
  width:25px;
  height:25px;
}
#u6930 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6931 {
  position:absolute;
  left:43px;
  top:118px;
  width:403px;
  height:38px;
}
#u6931_input {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u6932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1865px;
  height:2px;
}
#u6932 {
  position:absolute;
  left:0px;
  top:172px;
  width:1864px;
  height:1px;
}
#u6933 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1860px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u6934 {
  position:absolute;
  left:512px;
  top:126px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u6935 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u6936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
}
#u6936 {
  position:absolute;
  left:573px;
  top:128px;
  width:25px;
  height:20px;
}
#u6937 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u6938 {
  position:absolute;
  left:617px;
  top:127px;
  width:22px;
  height:22px;
}
#u6939 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u6940 {
  position:absolute;
  left:662px;
  top:128px;
  width:22px;
  height:22px;
}
#u6941 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6942 {
  position:absolute;
  left:999px;
  top:30px;
  width:106px;
  height:42px;
  font-size:16px;
}
#u6943 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  word-wrap:break-word;
}
#u6944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6944 {
  position:absolute;
  left:43px;
  top:196px;
  width:163px;
  height:48px;
}
#u6945 {
  position:absolute;
  left:2px;
  top:16px;
  width:159px;
  word-wrap:break-word;
}
#u6946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:48px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6946 {
  position:absolute;
  left:205px;
  top:196px;
  width:163px;
  height:48px;
}
#u6947 {
  position:absolute;
  left:2px;
  top:16px;
  width:159px;
  word-wrap:break-word;
}
#u6948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:48px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6948 {
  position:absolute;
  left:367px;
  top:196px;
  width:163px;
  height:48px;
}
#u6949 {
  position:absolute;
  left:2px;
  top:16px;
  width:159px;
  word-wrap:break-word;
}
#u6950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:681px;
  height:799px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6950 {
  position:absolute;
  left:43px;
  top:243px;
  width:681px;
  height:799px;
}
#u6951 {
  position:absolute;
  left:2px;
  top:392px;
  width:677px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6952 {
  position:absolute;
  left:66px;
  top:277px;
  width:219px;
  height:45px;
}
#u6952_input {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:45px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6952_input:disabled {
  color:grayText;
}
#u6953 {
  position:absolute;
  left:66px;
  top:340px;
  width:219px;
  height:45px;
}
#u6953_input {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:45px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6953_input:disabled {
  color:grayText;
}
#u6954 {
  position:absolute;
  left:66px;
  top:413px;
  width:219px;
  height:45px;
}
#u6954_input {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:45px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6954_input:disabled {
  color:grayText;
}
#u6955 {
  position:absolute;
  left:66px;
  top:485px;
  width:219px;
  height:45px;
}
#u6955_input {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:45px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6955_input:disabled {
  color:grayText;
}
#u6956 {
  position:absolute;
  left:66px;
  top:554px;
  width:219px;
  height:45px;
}
#u6956_input {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:45px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6956_input:disabled {
  color:grayText;
}
#u6957 {
  position:absolute;
  left:66px;
  top:623px;
  width:219px;
  height:45px;
}
#u6957_input {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:45px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6958 {
  position:absolute;
  left:66px;
  top:689px;
  width:219px;
  height:45px;
}
#u6958_input {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:45px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6959 {
  position:absolute;
  left:66px;
  top:764px;
  width:113px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6960 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u6961 {
  position:absolute;
  left:66px;
  top:800px;
  width:350px;
  height:32px;
}
#u6962 {
  position:absolute;
  left:16px;
  top:0px;
  width:332px;
  word-wrap:break-word;
}
#u6961_input {
  position:absolute;
  left:-3px;
  top:5px;
}
#u6963 {
  position:absolute;
  left:66px;
  top:854px;
  width:350px;
  height:32px;
}
#u6964 {
  position:absolute;
  left:16px;
  top:0px;
  width:332px;
  word-wrap:break-word;
}
#u6963_input {
  position:absolute;
  left:-3px;
  top:5px;
}
#u6965 {
  position:absolute;
  left:66px;
  top:909px;
  width:350px;
  height:32px;
}
#u6966 {
  position:absolute;
  left:16px;
  top:0px;
  width:332px;
  word-wrap:break-word;
}
#u6965_input {
  position:absolute;
  left:-3px;
  top:5px;
}
#u6967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6967 {
  position:absolute;
  left:66px;
  top:972px;
  width:341px;
  height:40px;
}
#u6968 {
  position:absolute;
  left:2px;
  top:12px;
  width:337px;
  word-wrap:break-word;
}
#u6969 {
  position:absolute;
  left:234px;
  top:30px;
  width:73px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6970 {
  position:absolute;
  left:317px;
  top:30px;
  width:87px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6971 {
  position:absolute;
  left:436px;
  top:30px;
  width:87px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6972 {
  position:absolute;
  left:565px;
  top:30px;
  width:87px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6973 {
  position:absolute;
  left:708px;
  top:30px;
  width:87px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6974 {
  position:absolute;
  left:852px;
  top:30px;
  width:87px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6975 {
  position:absolute;
  left:1007px;
  top:30px;
  width:87px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6976 {
  position:absolute;
  left:792px;
  top:196px;
  width:103px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6977 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
#u6978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:284px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.247058823529412);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6978 {
  position:absolute;
  left:792px;
  top:239px;
  width:302px;
  height:284px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6979 {
  position:absolute;
  left:2px;
  top:134px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6980 {
  position:absolute;
  left:815px;
  top:258px;
  width:62px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6981 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u6982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6982 {
  position:absolute;
  left:815px;
  top:294px;
  width:66px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6983 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u6984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6984 {
  position:absolute;
  left:815px;
  top:331px;
  width:91px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6985 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u6986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6986 {
  position:absolute;
  left:815px;
  top:367px;
  width:74px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6987 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u6988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6988 {
  position:absolute;
  left:815px;
  top:405px;
  width:49px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6989 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u6990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6990 {
  position:absolute;
  left:815px;
  top:444px;
  width:70px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6991 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u6992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6992 {
  position:absolute;
  left:815px;
  top:480px;
  width:60px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6993 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u6994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6994 {
  position:absolute;
  left:937px;
  top:258px;
  width:124px;
  height:19px;
  font-size:16px;
}
#u6995 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u6996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6996 {
  position:absolute;
  left:937px;
  top:294px;
  width:124px;
  height:19px;
  font-size:16px;
}
#u6997 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u6998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6998 {
  position:absolute;
  left:937px;
  top:331px;
  width:124px;
  height:19px;
  font-size:16px;
}
#u6999 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u7000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u7000 {
  position:absolute;
  left:937px;
  top:367px;
  width:124px;
  height:19px;
  font-size:16px;
}
#u7001 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u7002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u7002 {
  position:absolute;
  left:937px;
  top:405px;
  width:124px;
  height:19px;
  font-size:16px;
}
#u7003 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u7004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u7004 {
  position:absolute;
  left:937px;
  top:444px;
  width:124px;
  height:19px;
  font-size:16px;
}
#u7005 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u7006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u7006 {
  position:absolute;
  left:937px;
  top:480px;
  width:124px;
  height:19px;
  font-size:16px;
}
#u7007 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u7008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7008 {
  position:absolute;
  left:799px;
  top:548px;
  width:103px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7009 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
#u7010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:282px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.247058823529412);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7010 {
  position:absolute;
  left:792px;
  top:587px;
  width:302px;
  height:282px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7011 {
  position:absolute;
  left:2px;
  top:133px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:280px;
}
#u7012 {
  position:absolute;
  left:793px;
  top:588px;
  width:300px;
  height:280px;
}
#u7013 {
  position:absolute;
  left:2px;
  top:132px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
