body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1864px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6537_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1864px;
  height:92px;
}
#u6537 {
  position:absolute;
  left:0px;
  top:0px;
  width:1864px;
  height:92px;
}
#u6538 {
  position:absolute;
  left:2px;
  top:38px;
  width:1860px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6539_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:40px;
}
#u6539 {
  position:absolute;
  left:21px;
  top:19px;
  width:126px;
  height:40px;
}
#u6540 {
  position:absolute;
  left:2px;
  top:12px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6541_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u6541 {
  position:absolute;
  left:15px;
  top:66px;
  width:168px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u6542 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  white-space:nowrap;
}
#u6543_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:65px;
}
#u6543 {
  position:absolute;
  left:211px;
  top:19px;
  width:1px;
  height:64px;
}
#u6544 {
  position:absolute;
  left:2px;
  top:24px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6545_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6545 {
  position:absolute;
  left:234px;
  top:30px;
  width:73px;
  height:42px;
  font-size:16px;
}
#u6546 {
  position:absolute;
  left:2px;
  top:12px;
  width:69px;
  word-wrap:break-word;
}
#u6547_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6547 {
  position:absolute;
  left:326px;
  top:30px;
  width:73px;
  height:42px;
  font-size:16px;
}
#u6548 {
  position:absolute;
  left:2px;
  top:12px;
  width:69px;
  word-wrap:break-word;
}
#u6549_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6549 {
  position:absolute;
  left:443px;
  top:30px;
  width:73px;
  height:42px;
  font-size:16px;
}
#u6550 {
  position:absolute;
  left:2px;
  top:12px;
  width:69px;
  word-wrap:break-word;
}
#u6551_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6551 {
  position:absolute;
  left:555px;
  top:30px;
  width:106px;
  height:42px;
  font-size:16px;
}
#u6552 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  word-wrap:break-word;
}
#u6553_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF0000;
}
#u6553 {
  position:absolute;
  left:698px;
  top:30px;
  width:106px;
  height:42px;
  font-size:16px;
  color:#FF0000;
}
#u6554 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  word-wrap:break-word;
}
#u6555_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6555 {
  position:absolute;
  left:842px;
  top:30px;
  width:106px;
  height:42px;
  font-size:16px;
}
#u6556 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  word-wrap:break-word;
}
#u6557_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:52px;
}
#u6557 {
  position:absolute;
  left:1662px;
  top:25px;
  width:194px;
  height:52px;
}
#u6558 {
  position:absolute;
  left:2px;
  top:18px;
  width:190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6559_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:71px;
}
#u6559 {
  position:absolute;
  left:15px;
  top:12px;
  width:176px;
  height:71px;
}
#u6560 {
  position:absolute;
  left:2px;
  top:28px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6561_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:60px;
}
#u6561 {
  position:absolute;
  left:15px;
  top:17px;
  width:163px;
  height:60px;
}
#u6562 {
  position:absolute;
  left:2px;
  top:22px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6563 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6564 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6565_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:873px;
  height:5px;
}
#u6565 {
  position:absolute;
  left:36px;
  top:225px;
  width:870px;
  height:2px;
}
#u6566 {
  position:absolute;
  left:2px;
  top:-7px;
  width:866px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6567_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:99px;
  height:5px;
}
#u6567 {
  position:absolute;
  left:36px;
  top:225px;
  width:96px;
  height:2px;
}
#u6568 {
  position:absolute;
  left:2px;
  top:-7px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6569_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u6569 {
  position:absolute;
  left:40px;
  top:193px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u6570 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6571_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:140px;
}
#u6571 {
  position:absolute;
  left:36px;
  top:247px;
  width:198px;
  height:140px;
}
#u6572 {
  position:absolute;
  left:2px;
  top:62px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6573_div {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u6573 {
  position:absolute;
  left:244px;
  top:247px;
  width:401px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u6574 {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  word-wrap:break-word;
}
#u6575_div {
  position:absolute;
  left:0px;
  top:0px;
  width:662px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u6575 {
  position:absolute;
  left:244px;
  top:287px;
  width:662px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u6576 {
  position:absolute;
  left:0px;
  top:0px;
  width:662px;
  word-wrap:break-word;
}
#u6577_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C9C9C9;
}
#u6577 {
  position:absolute;
  left:244px;
  top:371px;
  width:163px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C9C9C9;
}
#u6578 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  word-wrap:break-word;
}
#u6579_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:140px;
}
#u6579 {
  position:absolute;
  left:36px;
  top:422px;
  width:198px;
  height:140px;
}
#u6580 {
  position:absolute;
  left:2px;
  top:62px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6581_div {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u6581 {
  position:absolute;
  left:244px;
  top:422px;
  width:401px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u6582 {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  word-wrap:break-word;
}
#u6583_div {
  position:absolute;
  left:0px;
  top:0px;
  width:662px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u6583 {
  position:absolute;
  left:244px;
  top:462px;
  width:662px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u6584 {
  position:absolute;
  left:0px;
  top:0px;
  width:662px;
  word-wrap:break-word;
}
#u6585_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C9C9C9;
}
#u6585 {
  position:absolute;
  left:250px;
  top:546px;
  width:163px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C9C9C9;
}
#u6586 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  word-wrap:break-word;
}
#u6587_img {
  position:absolute;
  left:0px;
  top:0px;
  width:871px;
  height:2px;
}
#u6587 {
  position:absolute;
  left:36px;
  top:404px;
  width:870px;
  height:1px;
}
#u6588 {
  position:absolute;
  left:2px;
  top:-8px;
  width:866px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6589_img {
  position:absolute;
  left:0px;
  top:0px;
  width:871px;
  height:2px;
}
#u6589 {
  position:absolute;
  left:36px;
  top:582px;
  width:870px;
  height:1px;
}
#u6590 {
  position:absolute;
  left:2px;
  top:-8px;
  width:866px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6591_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:140px;
}
#u6591 {
  position:absolute;
  left:36px;
  top:602px;
  width:198px;
  height:140px;
}
#u6592 {
  position:absolute;
  left:2px;
  top:62px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6593_div {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u6593 {
  position:absolute;
  left:244px;
  top:602px;
  width:401px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u6594 {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  word-wrap:break-word;
}
#u6595_div {
  position:absolute;
  left:0px;
  top:0px;
  width:662px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u6595 {
  position:absolute;
  left:244px;
  top:642px;
  width:662px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u6596 {
  position:absolute;
  left:0px;
  top:0px;
  width:662px;
  word-wrap:break-word;
}
#u6597_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C9C9C9;
}
#u6597 {
  position:absolute;
  left:250px;
  top:726px;
  width:163px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C9C9C9;
}
#u6598 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  word-wrap:break-word;
}
#u6599_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:140px;
}
#u6599 {
  position:absolute;
  left:36px;
  top:777px;
  width:198px;
  height:140px;
}
#u6600 {
  position:absolute;
  left:2px;
  top:62px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6601_div {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u6601 {
  position:absolute;
  left:244px;
  top:777px;
  width:401px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u6602 {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  word-wrap:break-word;
}
#u6603_div {
  position:absolute;
  left:0px;
  top:0px;
  width:662px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u6603 {
  position:absolute;
  left:244px;
  top:817px;
  width:662px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u6604 {
  position:absolute;
  left:0px;
  top:0px;
  width:662px;
  word-wrap:break-word;
}
#u6605_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C9C9C9;
}
#u6605 {
  position:absolute;
  left:250px;
  top:901px;
  width:163px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C9C9C9;
}
#u6606 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  word-wrap:break-word;
}
#u6607_img {
  position:absolute;
  left:0px;
  top:0px;
  width:871px;
  height:2px;
}
#u6607 {
  position:absolute;
  left:36px;
  top:759px;
  width:870px;
  height:1px;
}
#u6608 {
  position:absolute;
  left:2px;
  top:-8px;
  width:866px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6609_img {
  position:absolute;
  left:0px;
  top:0px;
  width:871px;
  height:2px;
}
#u6609 {
  position:absolute;
  left:36px;
  top:937px;
  width:870px;
  height:1px;
}
#u6610 {
  position:absolute;
  left:2px;
  top:-8px;
  width:866px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6611_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:140px;
}
#u6611 {
  position:absolute;
  left:36px;
  top:955px;
  width:198px;
  height:140px;
}
#u6612 {
  position:absolute;
  left:2px;
  top:62px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6613_div {
  position:absolute;
  left:0px;
  top:0px;
  width:662px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u6613 {
  position:absolute;
  left:244px;
  top:995px;
  width:662px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u6614 {
  position:absolute;
  left:0px;
  top:0px;
  width:662px;
  word-wrap:break-word;
}
#u6615_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C9C9C9;
}
#u6615 {
  position:absolute;
  left:250px;
  top:1079px;
  width:163px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C9C9C9;
}
#u6616 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  word-wrap:break-word;
}
#u6617_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:140px;
}
#u6617 {
  position:absolute;
  left:36px;
  top:1130px;
  width:198px;
  height:140px;
}
#u6618 {
  position:absolute;
  left:2px;
  top:62px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6619_div {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u6619 {
  position:absolute;
  left:244px;
  top:1130px;
  width:401px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u6620 {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  word-wrap:break-word;
}
#u6621_div {
  position:absolute;
  left:0px;
  top:0px;
  width:662px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u6621 {
  position:absolute;
  left:244px;
  top:1170px;
  width:662px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u6622 {
  position:absolute;
  left:0px;
  top:0px;
  width:662px;
  word-wrap:break-word;
}
#u6623_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C9C9C9;
}
#u6623 {
  position:absolute;
  left:244px;
  top:1254px;
  width:163px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C9C9C9;
}
#u6624 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  word-wrap:break-word;
}
#u6625_img {
  position:absolute;
  left:0px;
  top:0px;
  width:871px;
  height:2px;
}
#u6625 {
  position:absolute;
  left:36px;
  top:1112px;
  width:870px;
  height:1px;
}
#u6626 {
  position:absolute;
  left:2px;
  top:-8px;
  width:866px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6627_img {
  position:absolute;
  left:0px;
  top:0px;
  width:871px;
  height:2px;
}
#u6627 {
  position:absolute;
  left:36px;
  top:1290px;
  width:870px;
  height:1px;
}
#u6628 {
  position:absolute;
  left:2px;
  top:-8px;
  width:866px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6629_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:140px;
}
#u6629 {
  position:absolute;
  left:36px;
  top:1310px;
  width:198px;
  height:140px;
}
#u6630 {
  position:absolute;
  left:2px;
  top:62px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6631_div {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u6631 {
  position:absolute;
  left:244px;
  top:1310px;
  width:401px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u6632 {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  word-wrap:break-word;
}
#u6633_div {
  position:absolute;
  left:0px;
  top:0px;
  width:662px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u6633 {
  position:absolute;
  left:244px;
  top:1350px;
  width:662px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u6634 {
  position:absolute;
  left:0px;
  top:0px;
  width:662px;
  word-wrap:break-word;
}
#u6635_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C9C9C9;
}
#u6635 {
  position:absolute;
  left:250px;
  top:1434px;
  width:163px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C9C9C9;
}
#u6636 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  word-wrap:break-word;
}
#u6637_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:140px;
}
#u6637 {
  position:absolute;
  left:36px;
  top:1485px;
  width:198px;
  height:140px;
}
#u6638 {
  position:absolute;
  left:2px;
  top:62px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6639_div {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u6639 {
  position:absolute;
  left:244px;
  top:1485px;
  width:401px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u6640 {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  word-wrap:break-word;
}
#u6641_div {
  position:absolute;
  left:0px;
  top:0px;
  width:662px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u6641 {
  position:absolute;
  left:244px;
  top:1525px;
  width:662px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u6642 {
  position:absolute;
  left:0px;
  top:0px;
  width:662px;
  word-wrap:break-word;
}
#u6643_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C9C9C9;
}
#u6643 {
  position:absolute;
  left:250px;
  top:1609px;
  width:163px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C9C9C9;
}
#u6644 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  word-wrap:break-word;
}
#u6645_img {
  position:absolute;
  left:0px;
  top:0px;
  width:871px;
  height:2px;
}
#u6645 {
  position:absolute;
  left:36px;
  top:1467px;
  width:870px;
  height:1px;
}
#u6646 {
  position:absolute;
  left:2px;
  top:-8px;
  width:866px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6647_img {
  position:absolute;
  left:0px;
  top:0px;
  width:871px;
  height:2px;
}
#u6647 {
  position:absolute;
  left:36px;
  top:1645px;
  width:870px;
  height:1px;
}
#u6648 {
  position:absolute;
  left:2px;
  top:-8px;
  width:866px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6649_div {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:44px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6649 {
  position:absolute;
  left:321px;
  top:1656px;
  width:407px;
  height:44px;
}
#u6650 {
  position:absolute;
  left:2px;
  top:14px;
  width:403px;
  word-wrap:break-word;
}
#u6651 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6652_div {
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u6652 {
  position:absolute;
  left:42px;
  top:117px;
  width:451px;
  height:40px;
  text-align:left;
}
#u6653 {
  position:absolute;
  left:2px;
  top:12px;
  width:447px;
  word-wrap:break-word;
}
#u6654_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6654 {
  position:absolute;
  left:455px;
  top:125px;
  width:25px;
  height:25px;
}
#u6655 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6656 {
  position:absolute;
  left:43px;
  top:118px;
  width:403px;
  height:38px;
}
#u6656_input {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u6657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1865px;
  height:2px;
}
#u6657 {
  position:absolute;
  left:0px;
  top:172px;
  width:1864px;
  height:1px;
}
#u6658 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1860px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6659_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u6659 {
  position:absolute;
  left:512px;
  top:126px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u6660 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u6661_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
}
#u6661 {
  position:absolute;
  left:573px;
  top:128px;
  width:25px;
  height:20px;
}
#u6662 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6663_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u6663 {
  position:absolute;
  left:617px;
  top:127px;
  width:22px;
  height:22px;
}
#u6664 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6665_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u6665 {
  position:absolute;
  left:662px;
  top:128px;
  width:22px;
  height:22px;
}
#u6666 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6667_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6667 {
  position:absolute;
  left:998px;
  top:30px;
  width:106px;
  height:42px;
  font-size:16px;
}
#u6668 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  word-wrap:break-word;
}
#u6669 {
  position:absolute;
  left:234px;
  top:30px;
  width:73px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6670 {
  position:absolute;
  left:317px;
  top:30px;
  width:87px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6671 {
  position:absolute;
  left:436px;
  top:30px;
  width:87px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6672 {
  position:absolute;
  left:565px;
  top:30px;
  width:87px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6673 {
  position:absolute;
  left:708px;
  top:30px;
  width:87px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6674 {
  position:absolute;
  left:852px;
  top:30px;
  width:87px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6675 {
  position:absolute;
  left:1006px;
  top:30px;
  width:87px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6676 {
  position:absolute;
  left:926px;
  top:193px;
  width:103px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6677 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
#u6678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:284px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.247058823529412);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6678 {
  position:absolute;
  left:926px;
  top:236px;
  width:302px;
  height:284px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6679 {
  position:absolute;
  left:2px;
  top:134px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6680 {
  position:absolute;
  left:949px;
  top:255px;
  width:62px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6681 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u6682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6682 {
  position:absolute;
  left:949px;
  top:291px;
  width:66px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6683 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u6684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6684 {
  position:absolute;
  left:949px;
  top:328px;
  width:91px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6685 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u6686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6686 {
  position:absolute;
  left:949px;
  top:364px;
  width:74px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6687 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u6688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6688 {
  position:absolute;
  left:949px;
  top:402px;
  width:49px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6689 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u6690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6690 {
  position:absolute;
  left:949px;
  top:441px;
  width:70px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6691 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u6692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6692 {
  position:absolute;
  left:949px;
  top:477px;
  width:60px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6693 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u6694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6694 {
  position:absolute;
  left:1071px;
  top:255px;
  width:124px;
  height:19px;
  font-size:16px;
}
#u6695 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u6696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6696 {
  position:absolute;
  left:1071px;
  top:291px;
  width:124px;
  height:19px;
  font-size:16px;
}
#u6697 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u6698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6698 {
  position:absolute;
  left:1071px;
  top:328px;
  width:124px;
  height:19px;
  font-size:16px;
}
#u6699 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u6700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6700 {
  position:absolute;
  left:1071px;
  top:364px;
  width:124px;
  height:19px;
  font-size:16px;
}
#u6701 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u6702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6702 {
  position:absolute;
  left:1071px;
  top:402px;
  width:124px;
  height:19px;
  font-size:16px;
}
#u6703 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u6704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6704 {
  position:absolute;
  left:1071px;
  top:441px;
  width:124px;
  height:19px;
  font-size:16px;
}
#u6705 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u6706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6706 {
  position:absolute;
  left:1071px;
  top:477px;
  width:124px;
  height:19px;
  font-size:16px;
}
#u6707 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u6708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6708 {
  position:absolute;
  left:933px;
  top:545px;
  width:103px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6709 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
#u6710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:282px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.247058823529412);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6710 {
  position:absolute;
  left:926px;
  top:584px;
  width:302px;
  height:282px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6711 {
  position:absolute;
  left:2px;
  top:133px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:280px;
}
#u6712 {
  position:absolute;
  left:927px;
  top:585px;
  width:300px;
  height:280px;
}
#u6713 {
  position:absolute;
  left:2px;
  top:132px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
